p {
    font-family: 'Quicksand', sans-serif; 
} 

.header {
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold; 
} 

applyFont {
    font-family: 'Quicksand', sans-serif; 
}
